body {
    margin: 0;
}

header {
    background: #008890;
    text-align: center;
    padding: 25px;
}

.logo {
    color: #ffffff;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
}

header input {
    font-size: 20px;
}

